Node-Red Flows/Check_Trip_Status.Json
[{"id":"7d3c435c.33dafc","type":"http in","z":"44536c37.c24db4","name":"","url":"/trip/:deviceId/:tripStatus","method":"post","swaggerDoc":"","x":178,"y":168,"wires":[["bcfae2e6.cac2c"]]},{"id":"e2b26c0.a22f898","type":"comment","z":"44536c37.c24db4","name":"getTripId()","info":"Check Trip Status","x":120,"y":80,"wires":[]},{"id":"bcfae2e6.cac2c","type":"function","z":"44536c37.c24db4","name":"Payload Trip_status","func":"msg.payload= {\n    \"tripStatus\":msg.req.params.tripStatus,\n    //\"deviceId\":msg.req.params.deviceId \n    \"deviceId\":\"device\"\n}\n//msg.payload.trip_status = msg.req.params.tripStatus;\nreturn msg;","outputs":1,"noerr":0,"x":267,"y":329,"wires":[["a3c464c8.34f2e8"]]},{"id":"4a23eee4.fe747","type":"debug","z":"44536c37.c24db4","name":"","active":true,"console":"false","complete":"false","x":1020,"y":340,"wires":[]},{"id":"46fd230d.f7375c","type":"http response","z":"44536c37.c24db4","name":"","x":822,"y":232,"wires":[]},{"id":"a3c464c8.34f2e8","type":"dashDB in","z":"44536c37.c24db4","dashDB":"3030b27f.e2c996","service":"_ext_","query":"SELECT TRIP_STATUS FROM TRIP_ROUTES WHERE MO_ID=? AND TRIP_STATUS=1;","params":"msg.payload.deviceId","name":"","x":428,"y":277,"wires":[["48969855.cb0f28","82a44731.e4e368","46fd230d.f7375c"]]},{"id":"82a44731.e4e368","type":"function","z":"44536c37.c24db4","name":"check Trip Status Empty or Not","func":"\nif (typeof msg.payload === 'undefined' || !msg.payload || msg.payload.length === 0 ){\n    msg.tripStatus = 0; \n} else {\n    msg.tripStatus = 1;\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":579,"y":367,"wires":[["e675803b.736d9"]]},{"id":"aa2a6472.0c1c58","type":"debug","z":"44536c37.c24db4","name":"","active":true,"console":"false","complete":"false","x":1015,"y":653,"wires":[]},{"id":"2a9e1804.75c4a8","type":"function","z":"44536c37.c24db4","name":"Trip Success","func":"msg.payload = {\n    \"tripStatus\":\"Completed\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":847,"y":391,"wires":[["4a23eee4.fe747"]]},{"id":"6c9331d9.f2f08","type":"function","z":"44536c37.c24db4","name":"Trip Running","func":"msg.payload= {\n    \"tripStatus\":\"Running\"\n}\n//msg.payload.trip_status = msg.req.params.tripStatus;\nreturn msg;","outputs":1,"noerr":0,"x":851,"y":584,"wires":[["aa2a6472.0c1c58"]]},{"id":"e675803b.736d9","type":"switch","z":"44536c37.c24db4","name":"tripStatus","property":"tripStatus","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"eq","v":"1","vt":"num"}],"checkall":"true","outputs":2,"x":625,"y":480,"wires":[["2a9e1804.75c4a8"],["6c9331d9.f2f08"]]},{"id":"48969855.cb0f28","type":"debug","z":"44536c37.c24db4","name":"","active":true,"console":"false","complete":"false","x":595,"y":199,"wires":[]},{"id":"ef4f24c9.71ac98","type":"http in","z":"44536c37.c24db4","name":"","url":"/trip/:trip_id","method":"post","upload":false,"swaggerDoc":"","x":153,"y":813,"wires":[["a32071c7.a21ab"]]},{"id":"a32071c7.a21ab","type":"function","z":"44536c37.c24db4","name":"","func":"msg.payload= {\n    \n    //\"deviceId\":msg.req.params.deviceId,\n    \"trip_id\": msg.req.params.trip_id\n    \n}\n//msg.payload.trip_status = msg.req.params.tripStatus;\nreturn msg;","outputs":1,"noerr":0,"x":275,"y":966,"wires":[["3788d2f3.40334e"]]},{"id":"3788d2f3.40334e","type":"dashDB in","z":"44536c37.c24db4","dashDB":"3030b27f.e2c996","service":"_ext_","query":"SELECT TRIP_ID FROM TRIP_ROUTES WHERE TRIP_ID=?;","params":"msg.payload.trip_id","name":"","x":453,"y":922,"wires":[["49aca64c.1404e8","5e80359e.15accc"]]},{"id":"5e80359e.15accc","type":"http response","z":"44536c37.c24db4","name":"","x":847,"y":877,"wires":[]},{"id":"49aca64c.1404e8","type":"debug","z":"44536c37.c24db4","name":"","active":true,"console":"false","complete":"false","x":620,"y":844,"wires":[]},{"id":"fe1b9cb2.9f67d","type":"comment","z":"44536c37.c24db4","name":"getTripStatus()","info":"Get Trip Count","x":147,"y":736,"wires":[]},{"id":"3030b27f.e2c996","type":"dashDB","z":"","hostname":"awh-yp-small03.services.dal.bluemix.net","db":"BLUDB","port":"50000","name":"Ytl Database"}]