Node-Red Flows/Registration.Json
[{"id":"2e190ecc.24ef42","type":"comment","z":"a4fe2a63.f90228","name":"User Registration","info":"","x":100,"y":60,"wires":[]},{"id":"6f97a46b.05f81c","type":"http in","z":"a4fe2a63.f90228","name":"","url":"/api/v1/neUserRegistration","method":"post","upload":false,"swaggerDoc":"","x":170,"y":120,"wires":[["cf1fab1a.8f10f8"]]},{"id":"cf1fab1a.8f10f8","type":"function","z":"a4fe2a63.f90228","name":"User Registration params","func":"msg.USERNAME           = msg.req.body.USERNAME; \nmsg.PASSWORD           = msg.req.body.PASSWORD;\nmsg.FIRST_NAME         =msg.req.body.FIRST_NAME;\nmsg.LAST_NAME         =msg.req.body.LAST_NAME;\nmsg.EMAIL              = msg.req.body.EMAIL;\nmsg.MOBILE_NO          = msg.req.body.MOBILE_NO;\nmsg.AGE               = msg.req.body.AGE;\nmsg.GENDER               = msg.req.body.GENDER;\nmsg.STATUS               = msg.req.body.STATUS;\nmsg.ROLEID               = msg.req.body.ROLEID;\nmsg.USERTYPEID              = msg.req.body.USERTYPEID;\nmsg.COUNTRY               = msg.req.body.COUNTRY;\nmsg.PROFILE_PIC               = msg.req.body.PROFILE_PIC;\nmsg.MO_ID         = msg.req.body.MO_ID;\nmsg.MO_TYPE         = msg.req.body.MO_TYPE;\nmsg.ORG_ID           = msg.req.body.ORG_ID;\nmsg.CAR_NAME    = msg.req.body.CAR_NAME;\nmsg.CAR_STATUS  =msg.req.body.CAR_STATUS;\nmsg.FUEL =msg.req.body.FUEL;\nmsg.BATTERY_VOLTAGE = msg.req.body.BATTERY_VOLTAGE;\nmsg.TEMPERATURE=msg.req.body.TEMPERATURE;\nmsg.DISTANCE_TRAVELLED=msg.req.body.DISTANCE_TRAVELLED;\nmsg.USERNAME = msg.req.body.USERNAME;\nmsg.CURRENT_LONGITUDE=msg.req.body.CURRENT_LONGITUDE;\nmsg.CURRENT_LATITUDE=msg.req.body.CURRENT_LATITUDE;\nmsg.CREATED_ON=msg.req.body.CREATED_ON;\nmsg.UPDATED_ON=msg.req.body.UPDATED_ON;\nmsg.SETTINGSID=msg.req.body.SETTINGSID;\nmsg.PROFILE_PIC=msg.req.body.PROFILE_PIC;\nmsg.HEADING=msg.req.body.HEADING;\nmsg.RPM=msg.req.body.RPM;\nmsg.ENGINE_LOAD=msg.req.body.ENGINE_LOAD;\nmsg.ENGINE_COOLANT_TEMP=msg.req.body.ENGINE_COOLANT_TEMP;\nmsg.AIR_TEMP=msg.req.body.AIR_TEMP;\n\n\n\n\n\n\nmsg.payload ={}; \n\nreturn msg;\n\n\n//\n\n//select * from DASH013608.BONDDATAFORWEB01 WHERE \"Coupon\" = 1\n\n","outputs":1,"noerr":0,"x":210,"y":200,"wires":[["8498ecbb.cd161","10b62e2a.ea66d2"]]},{"id":"8498ecbb.cd161","type":"debug","z":"a4fe2a63.f90228","name":"","active":true,"console":"false","complete":"false","x":502.3333282470703,"y":181.4444398880005,"wires":[]},{"id":"9d9b5439.5622c8","type":"http response","z":"a4fe2a63.f90228","name":"","statusCode":"","headers":{},"x":1865.555564880371,"y":637.1111240386963,"wires":[]},{"id":"b2c24b38.8ca348","type":"function","z":"a4fe2a63.f90228","name":"check user Exist","func":"\nif (typeof msg.payload === 'undefined' || !msg.payload || msg.payload.length === 0 ){\n    msg.availabilityStatus = 0; \n} else {\n    msg.availabilityStatus = 1;\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":291.22225189208984,"y":372.99997901916504,"wires":[["600eb476.d97dec","3ed88772.ef7308"]]},{"id":"600eb476.d97dec","type":"switch","z":"a4fe2a63.f90228","name":"availabilityStatus","property":"availabilityStatus","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"eq","v":"1","vt":"str"}],"checkall":"true","outputs":2,"x":343.05565643310547,"y":456.66660499572754,"wires":[["9db4fe1f.6c3eb"],["289d4e2a.db6322"]]},{"id":"9db4fe1f.6c3eb","type":"function","z":"a4fe2a63.f90228","name":"User not exist","func":"// randomize for token generation. \nvar rand = function() {\n    return Math.random().toString(36).substr(2); // remove `0.`\n};\n\nvar token = function() {\n    return rand() + rand(); \n};\n\n\n// reverser order of deviceId ofr token generation. \n\nfunction reverseString(str) {\n    return str.split('').reverse().join('');\n}\nvar reverse = reverseString(msg.MO_ID);\n\n\n\n//msg.authToken = token(); // not a auto generated token. \n\n// hard coded token. \n//msg.authToken = \"I3j?AIMLRZB!LY1z+H\" ;\n\n//reverse order for token genraition. \nmsg.authToken = reverse ; \n\nvar reverse = reverseString(msg.MO_ID);\nvar osModule = global.get('mymodule');\nvar hash =osModule.hashSync(msg.PASSWORD);\nmsg.encpass = hash;\n\n\n\n\n// payload setting for http response and IOTP.\nmsg.payload={ \n    \"USERNAME\" : msg.USERNAME, \n    \"PASSWORD\" :msg.encpass,\n    \"EMAIL\"    : msg.EMAIL,\n    \"MOBILE_NO\"    : msg.MOBILE_NO,\n    \"CARNAME\": msg.CAR_NAME,\n    \"MO_TYPE\": msg.MO_TYPE,\n    \"MO_ID\": msg.MO_ID,\n    \"deviceId\":msg.MO_ID,\n    \"MO_TOKEN\": msg.authToken,\n    \"status\" : \"Success\",\n    \"statusCode\" : \"200\",\n    \"responseCode\" : \"2000\"\n};\n\n// check whether deviceId exist or not. \nmsg.payload ={}; \nreturn msg;\n","outputs":1,"noerr":0,"x":571.6666488647461,"y":334.6666660308838,"wires":[["5cda6ff9.37f5b"]]},{"id":"289d4e2a.db6322","type":"function","z":"a4fe2a63.f90228","name":"Username already exist","func":"// user already exist in the system, hence user registration is failed. \n\n\nmsg.payload  =\n{\n    \"version\" : \"1.0\",\n    \"status\" : \"Failed\",\n    \"description\" : \"Username already exist. Try different username\",\n    \"statusCode\" : \"200\",\n    \"responseCode\" : \"2001\"\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":554.2223129272461,"y":653.4443759918213,"wires":[["9d9b5439.5622c8"]]},{"id":"b38c1bd2.192368","type":"debug","z":"a4fe2a63.f90228","name":"","active":false,"console":"false","complete":"false","x":1954.300193786621,"y":251.5111789703369,"wires":[]},{"id":"c54f467d.a8f208","type":"function","z":"a4fe2a63.f90228","name":"device status","func":"\nif(msg.payload.data ==='undefined' || !msg.payload.data){\n    \n} else {\n    var data = msg.payload.data; \n    msg.errorDescription = data.message;\n    throw new Error(data.message); \n}\n\nreturn msg;","outputs":1,"noerr":0,"x":1932.9250717163086,"y":354.3611240386963,"wires":[[]]},{"id":"208770d8.0b0b7","type":"device-manager","z":"a4fe2a63.f90228","auth":"api","name":"","apiKey":"cff568ea.6743f8","deviceType":"vehicles","method":"Create","deviceId":"","password":"","ignore":false,"x":1718.966697692871,"y":349.31113624572754,"wires":[["b38c1bd2.192368","c54f467d.a8f208"]]},{"id":"6b6c4e5b.80cbc","type":"function","z":"a4fe2a63.f90228","name":"DeviceId Check","func":"\nif (typeof msg.payload === 'undefined' || !msg.payload || msg.payload.length === 0){\n    msg.availabilityStatus = 0; \n} else {\n    msg.availabilityStatus = 1;\n}\n\n\n\nreturn msg;","outputs":1,"noerr":0,"x":938.1111068725586,"y":423.1111240386963,"wires":[["55e1b022.b42c9"]]},{"id":"55e1b022.b42c9","type":"switch","z":"a4fe2a63.f90228","name":"availabilityStatus","property":"availabilityStatus","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"0","vt":"str"},{"t":"eq","v":"0","vt":"str"}],"checkall":"true","outputs":4,"x":1174.1111068725586,"y":422.1111240386963,"wires":[["33fe7ae4.0d8956","f9fa6e9e.eda96"],["e4e285d7.2b5608","f9fa6e9e.eda96"],["9ca10689.8a78a8"],["ff1b13d9.c7a38"]]},{"id":"33fe7ae4.0d8956","type":"function","z":"a4fe2a63.f90228","name":"Device ID not Exist ","func":"msg.payload={ \n    \"USERNAME\" : msg.USERNAME, \n         \"PASSWORD\" :msg.encpass,\n    \"FIRST_NAME\" : msg.FIRST_NAME,\n    \"LAST_NAME\" : msg.LAST_NAME,\n    \"EMAIL\"    : msg.EMAIL,\n    \"MOBILE_NO\"    : msg.MOBILE_NO,\n     \"AGE\" : 24,\n      \"GENDER\":msg.GENDER,\n      \"STATUS\":1,\n      \"ROLEID\":1,\n      \"USERTYPEID\":1,\n      \"COUNTRY\":\"INDIA\",\n      \"PROFILE_PIC\":\"\"\n};\n\n\nreturn msg;\n","outputs":1,"noerr":0,"x":1430.666648864746,"y":341.66672706604004,"wires":[["f88ae6a8.206db8","e6be4d5a.836ff"]]},{"id":"e4e285d7.2b5608","type":"function","z":"a4fe2a63.f90228","name":"Device ID already exist","func":"// user already exist in the system, hence user registration is failed. \n\nmsg.payload  =\n{\n    \"version\" : \"1.0\",\n    \"status\" : \"Failed\",\n    \"Description\" : \"DeviceId already exist. Try different\",\n    \"statusCode\" : \"200\",\n    \"responseCode\" : \"2004\"\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":1439.1111068725586,"y":485.1111240386963,"wires":[["9d9b5439.5622c8","be4cca87.668698"]]},{"id":"b487d610.7f7518","type":"debug","z":"a4fe2a63.f90228","name":"","active":true,"console":"false","complete":"false","x":882.1111068725586,"y":486.1111240386963,"wires":[]},{"id":"f9fa6e9e.eda96","type":"debug","z":"a4fe2a63.f90228","name":"","active":true,"console":"false","complete":"availabilityStatus","x":1438.1111068725586,"y":428.1111240386963,"wires":[]},{"id":"f88ae6a8.206db8","type":"function","z":"a4fe2a63.f90228","name":"http response modificaition","func":"// response modification for the http response. \nvar payloadObj = msg.payload; \n\n    payloadObj.status = \"Success\"; \n    payloadObj.description = \"User added successfully\";\n    payloadObj.statusCode = \"200\";\n    payloadObj.responseCode = \"2000\";\n    payloadObj.password = \"******\";\n\nmsg.pyload = payloadObj; \n\nreturn msg;\n","outputs":1,"noerr":0,"x":1751.1111068725586,"y":415.1111240386963,"wires":[["9d9b5439.5622c8","be4cca87.668698"]]},{"id":"be4cca87.668698","type":"debug","z":"a4fe2a63.f90228","name":"","active":true,"console":"false","complete":"false","x":2131.1111068725586,"y":419.1111240386963,"wires":[]},{"id":"10b62e2a.ea66d2","type":"dashDB in","z":"a4fe2a63.f90228","dashDB":"20aec082.c23ad","service":"_ext_","query":"SELECT USERNAME FROM USERS WHERE USERNAME= ?","params":"msg.USERNAME","name":"CARS","x":293.1111068725586,"y":282,"wires":[["b2c24b38.8ca348","9d5cea78.311728"]]},{"id":"5cda6ff9.37f5b","type":"dashDB in","z":"a4fe2a63.f90228","dashDB":"f494e932.27a7d8","service":"_ext_","query":"SELECT MO_ID FROM CARS WHERE MO_ID= ?","params":"msg.MO_ID","name":"DEVICE","x":637.1111068725586,"y":413,"wires":[["6b6c4e5b.80cbc","b487d610.7f7518"]]},{"id":"e6be4d5a.836ff","type":"dashDB out","z":"a4fe2a63.f90228","dashDB":"5e4db708.a4d088","service":"_ext_","table":"USERS","name":"","x":1667.1111068725586,"y":218,"wires":[]},{"id":"3ed88772.ef7308","type":"debug","z":"a4fe2a63.f90228","name":"","active":true,"console":"false","complete":"false","x":519.6111068725586,"y":261,"wires":[]},{"id":"9ca10689.8a78a8","type":"function","z":"a4fe2a63.f90228","name":"CARDATA","func":" msg.payload={\n    \"CAR_NAME\": msg.CAR_NAME,\n    \"MO_TYPE\": msg.MO_TYPE,\n    \"MO_ID\": msg.MO_ID,\n    \"MO_TOKEN\":msg.authToken,\n    \"USERNAME\":msg.USERNAME,\n     \"ORG_ID\": \"544d\",\n     \"CAR_STATUS\":1,\n     \"FUEL\" :\"\",\n\"BATTERY_VOLTAGE\" :\"\",\n\"TEMPRATURE\":\"0\",\n\"DISTANCE_TRAVELLED\":\"0\",\n\"CURRENT_LONGITUDE\":\" \",\n\"CURRENT_LATITUDE\":\" \",\n\"CREATED_ON\":\"2017-03-24-10.11.00.000000\",\n\"UPDATED_ON\":\"2017-03-24-10.11.00.000000\",\n\"SETTINGSID\":\"3\",\n \"HEADING\":\"\",\n \"RPM\":\"\",\n \"ENGINE_LOAD\":\"\",\n \"ENGINE_COOLANT_TEMP\":\"\",\n \"AIR_TEMP\":\"\"\n };\n \n\nreturn msg;\n","outputs":1,"noerr":0,"x":1453,"y":236,"wires":[["5a785a1.5ecb5a4","b2f08044.40d0f"]]},{"id":"5a785a1.5ecb5a4","type":"dashDB out","z":"a4fe2a63.f90228","dashDB":"5e0873f.9e06c8c","service":"_ext_","table":"CARS","name":"","x":1649,"y":268,"wires":[]},{"id":"9d5cea78.311728","type":"debug","z":"a4fe2a63.f90228","name":"","active":true,"console":"false","complete":"false","x":130,"y":330,"wires":[]},{"id":"b2f08044.40d0f","type":"debug","z":"a4fe2a63.f90228","name":"","active":true,"console":"false","complete":"false","x":1601,"y":137,"wires":[]},{"id":"ff1b13d9.c7a38","type":"function","z":"a4fe2a63.f90228","name":"","func":"msg.payload={\n    \"deviceId\":msg.MO_ID\n };\nreturn msg;\n","outputs":1,"noerr":0,"x":1445,"y":291,"wires":[["208770d8.0b0b7"]]},{"id":"cff568ea.6743f8","type":"wiotp","z":"","name":"YTL"},{"id":"20aec082.c23ad","type":"dashDB","z":"","hostname":"awh-yp-small03.services.dal.bluemix.net","db":"BLUDB","port":"50000","name":""},{"id":"f494e932.27a7d8","type":"dashDB","z":"","hostname":"awh-yp-small03.services.dal.bluemix.net","db":"BLUDB","port":"50000","name":""},{"id":"5e4db708.a4d088","type":"dashDB","z":"","hostname":"awh-yp-small03.services.dal.bluemix.net","db":"BLUDB","port":"50000","name":""},{"id":"5e0873f.9e06c8c","type":"dashDB","z":"","hostname":"awh-yp-small03.services.dal.bluemix.net","db":"BLUDB","port":"50000","name":""}]