Node-Red Flows/Reports.Json
[{"id":"ee3d3e48.b320c8","type":"http in","z":"9320c615.23867","name":"","url":"/db/driver/:MO_ID","method":"get","upload":false,"swaggerDoc":"","x":140,"y":160,"wires":[["a5ccbe6b.fd89e8","8d1dae61.9fb3c8"]]},{"id":"a2280e56.696bd8","type":"http in","z":"9320c615.23867","name":"","url":"/driver/behaviouR","method":"get","swaggerDoc":"","x":140,"y":520,"wires":[["4d233a64.ff2cfc"]]},{"id":"911aa6bb.484f7","type":"http response","z":"9320c615.23867","name":"","x":811.9960994720459,"y":162.9415283203125,"wires":[]},{"id":"a5ccbe6b.fd89e8","type":"debug","z":"9320c615.23867","name":"","active":false,"console":"false","complete":"true","x":348.0038833618164,"y":247.47234535217285,"wires":[]},{"id":"6ad5cf7b.187ac","type":"dashDB in","z":"9320c615.23867","dashDB":"8685d06b.fe6518","service":"_ext_","query":"SELECT TRIPS.TRIP_ID,TRIPS.TRIP_UUID,TRIPS.TENANT_ID,TRIP_DETAILS.END_ALTITUDE,TRIP_DETAILS.END_LATITUDE,TRIP_DETAILS.END_LONGITUDE,TRIP_DETAILS.END_TIME,TRIP_DETAILS.GENERATED_TIME,TRIP_DETAILS.START_ALTITUDE,TRIP_DETAILS.START_LATITUDE,TRIP_DETAILS.START_LONGITUDE,TRIP_DETAILS.START_TIME,TRIP_FEATURES.FEATURE_NAME,TRIP_FEATURES.FEATURE_VALUE FROM TRIPS,TRIP_DETAILS,TRIP_FEATURES WHERE TRIPS.MO_ID=? AND TRIPS.ID=TRIP_DETAILS.TRIP_ID AND TRIPS.ID=TRIP_FEATURES.TRIP_ID \n\n","params":"msg.MO_ID","name":"","x":415,"y":149,"wires":[["10a9d7a6.b8323","85ccfe12.8381f8"]]},{"id":"8d1dae61.9fb3c8","type":"function","z":"9320c615.23867","name":"","func":"msg.MO_ID = msg.req.params.MO_ID;\n//msg.TRIP_ID=msg.req.body.TRIP_ID;\nreturn msg;","outputs":1,"noerr":0,"x":346,"y":32,"wires":[["6ad5cf7b.187ac"]]},{"id":"61af07b4.a3c0f8","type":"http in","z":"9320c615.23867","name":"","url":"/TRIP","method":"get","upload":false,"swaggerDoc":"","x":120,"y":380,"wires":[["6d3f3bbd.fb6454"]]},{"id":"e58248d3.802f58","type":"http response","z":"9320c615.23867","name":"","x":590,"y":380,"wires":[]},{"id":"6d3f3bbd.fb6454","type":"dashDB in","z":"9320c615.23867","dashDB":"8685d06b.fe6518","service":"_ext_","query":"SELECT TRIPS.TRIP_ID,TRIPS.TRIP_UUID,TRIPS.TENANT_ID,\nCTX_SUB_TRIPS.SUB_TRIP_ID,CTX_SUB_TRIPS.TENANT_ID,CTX_SUB_TRIPS.AVG_SPEED,CTX_SUB_TRIPS.END_LATITUDE,CTX_SUB_TRIPS.END_LONGITUDE,CTX_SUB_TRIPS.END_TIME,CTX_SUB_TRIPS.MO_ID,CTX_SUB_TRIPS.DRIVER_ID,CTX_SUB_TRIPS.START_LATITUDE,CTX_SUB_TRIPS.START_LONGITUDE,CTX_SUB_TRIPS.START_TIME,CTX_SUB_TRIPS.TRIP_UUID,CTX_FEATURES.CONTEXT_CATEGORY,CTX_FEATURES.CONTEXT_CATEGORY_ID,CTX_FEATURES.CONTEXT_ID,CTX_FEATURES.CONTEXT_NAME FROM TRIPS,CTX_SUB_TRIPS,CTX_FEATURES WHERE TRIPS.ID = CTX_SUB_TRIPS.TRIP_ID AND CTX_SUB_TRIPS.SUB_TRIP_ID=CTX_FEATURES.SUB_TRIP_ID;","params":"","name":"","x":380,"y":360,"wires":[["e58248d3.802f58","450dca7a.a00a84"]]},{"id":"10a9d7a6.b8323","type":"function","z":"9320c615.23867","name":"Sort","func":"if (msg.payload.length > 0) {\n    var data = msg.payload\n    data = data.sort(function(prev, next) {\n\t\treturn next.END_TIME - prev.END_TIME\n\t})\n\tmsg.payload = data\n}\n\n/*\nvar data = msg.payload;\ndata  = msg.payload;\nmsg.payload = {\n    \n    \"TRIP_ID\":data\n    };\n*///msg.payload={};\nreturn msg;","outputs":1,"noerr":0,"x":591,"y":155,"wires":[["c5c32240.8f5e18","911aa6bb.484f7"]]},{"id":"c5c32240.8f5e18","type":"debug","z":"9320c615.23867","name":"","active":false,"console":"false","complete":"false","x":705,"y":225,"wires":[]},{"id":"85ccfe12.8381f8","type":"debug","z":"9320c615.23867","name":"","active":false,"console":"false","complete":"false","x":513,"y":214,"wires":[]},{"id":"9ee846e4.4f56","type":"http response","z":"9320c615.23867","name":"","x":770,"y":500,"wires":[]},{"id":"4d233a64.ff2cfc","type":"dashDB in","z":"9320c615.23867","dashDB":"8685d06b.fe6518","service":"_ext_","query":"SELECT TRIPS.TRIP_ID,TRIPS.TRIP_UUID,TRIPS.TENANT_ID,\nCTX_SUB_TRIPS.SUB_TRIP_ID,CTX_SUB_TRIPS.TENANT_ID,CTX_SUB_TRIPS.TRIP_UUID,CTX_SUB_TRIPS.AVG_SPEED,CTX_SUB_TRIPS.END_LATITUDE,CTX_SUB_TRIPS.END_LONGITUDE,CTX_SUB_TRIPS.END_TIME,CTX_SUB_TRIPS.MO_ID,CTX_SUB_TRIPS.DRIVER_ID,CTX_SUB_TRIPS.START_LATITUDE,CTX_SUB_TRIPS.START_LONGITUDE,CTX_SUB_TRIPS.START_TIME,DRIVING_BEHAVIOR_DETAILS.BEHAVIOR_NAME,DRIVING_BEHAVIOR_DETAILS.END_LATITUDE,DRIVING_BEHAVIOR_DETAILS.END_TIME,DRIVING_BEHAVIOR_DETAILS.GENERATED_TIME,DRIVING_BEHAVIOR_DETAILS.MO_ID,DRIVING_BEHAVIOR_DETAILS.DRIVER_ID,DRIVING_BEHAVIOR_DETAILS.START_LATITUDE,DRIVING_BEHAVIOR_DETAILS.START_LONGITUDE,DRIVING_BEHAVIOR_DETAILS.START_TIME,DRIVING_BEHAVIOR_DETAILS.BEHAVIOR_ID FROM  TRIPS,CTX_SUB_TRIPS,DRIVING_BEHAVIOR_DETAILS  WHERE  DRIVING_BEHAVIOR_DETAILS.SUB_TRIP_ID=CTX_SUB_TRIPS.SUB_TRIP_ID AND TRIPS.ID = CTX_SUB_TRIPS.TRIP_ID","params":"","name":"","x":420,"y":520,"wires":[["21b6272a.7bfce","9ee846e4.4f56"]]},{"id":"21b6272a.7bfce","type":"debug","z":"9320c615.23867","name":"","active":false,"console":"false","complete":"false","x":510,"y":620,"wires":[]},{"id":"a189286a.05bbe","type":"http in","z":"9320c615.23867","name":"","url":"/trips/:TRIP_ID","method":"get","upload":false,"swaggerDoc":"","x":110,"y":700,"wires":[["292d23a0.1770fc","488e6d3b.c01c14"]]},{"id":"292d23a0.1770fc","type":"function","z":"9320c615.23867","name":"Set query","func":"msg.TRIP_ID=msg.req.params.TRIP_ID;\nreturn msg;","outputs":1,"noerr":0,"x":300,"y":660,"wires":[["4530ae52.69e208"]]},{"id":"3f11d182.6bfbf6","type":"http response","z":"9320c615.23867","name":"","x":830,"y":720,"wires":[]},{"id":"488e6d3b.c01c14","type":"debug","z":"9320c615.23867","name":"","active":false,"console":"false","complete":"true","x":316.61804580688477,"y":847.9269561767578,"wires":[]},{"id":"ca256a37.5ba448","type":"debug","z":"9320c615.23867","name":"","active":false,"console":"false","complete":"payload.length","x":578.22216796875,"y":843.5925941467285,"wires":[]},{"id":"e4afc9d3.5973","type":"function","z":"9320c615.23867","name":"Sort","func":"var data = msg.payload;\nvar sorted = data.sort(function(x, y) {\n    var xDate = new Date(x.TIMESTAMP);\n    var yDate = new Date(y.TIMESTAMP);\n    return xDate - yDate;\n});\nmsg.payload = sorted;\nreturn msg;","outputs":1,"noerr":0,"x":690,"y":720,"wires":[["3f11d182.6bfbf6"]]},{"id":"4530ae52.69e208","type":"dashDB in","z":"9320c615.23867","dashDB":"8685d06b.fe6518","service":"_ext_","query":"SELECT TIMESTAMP,LATITUDE,LONGITUDE FROM TRIP_ROUTES WHERE TRIP_ID=?;","params":"msg.TRIP_ID","name":"","x":480,"y":700,"wires":[["ca256a37.5ba448","e4afc9d3.5973"]]},{"id":"69987e7e.ca606","type":"comment","z":"9320c615.23867","name":"Reports display","info":"","x":120,"y":50,"wires":[]},{"id":"450dca7a.a00a84","type":"debug","z":"9320c615.23867","name":"","active":true,"console":"false","complete":"false","x":557,"y":318,"wires":[]},{"id":"8685d06b.fe6518","type":"dashDB","z":"","hostname":"awh-yp-small03.services.dal.bluemix.net","db":"BLUDB","port":"50000","name":"Ytl Database"}]