Node-Red Flows/Simulator.Json
[{"id":"cfeb367d.9de638","type":"function","z":"9b790ee7.397da","name":"","func":"msg.payload = \"Success\"\nreturn msg;","outputs":1,"noerr":0,"x":445,"y":56,"wires":[["3f87c4e0.d6fd9c"]]},{"id":"586a5414.fad634","type":"comment","z":"9b790ee7.397da","name":"Simulator Data","info":"","x":140,"y":60,"wires":[]},{"id":"9e185a9c.8ed32","type":"http in","z":"9b790ee7.397da","name":"","url":"/track/:deviceId","method":"post","upload":false,"swaggerDoc":"","x":179,"y":131,"wires":[["d3cd18ff.9a2c3","fc9b4d71.d6951","e4c2fc09.41767","cfeb367d.9de638"]]},{"id":"3f87c4e0.d6fd9c","type":"http response","z":"9b790ee7.397da","name":"","x":630,"y":20,"wires":[]},{"id":"d3cd18ff.9a2c3","type":"debug","z":"9b790ee7.397da","name":"","active":true,"console":"false","complete":"payload","x":562,"y":137,"wires":[]},{"id":"611aeac.5a36d94","type":"ibmiot out","z":"9b790ee7.397da","authentication":"apiKey","apiKey":"b4821b73.254c8","outputType":"evt","deviceId":"obd2_admin","deviceType":"vehicles","eventCommandType":"gps","format":"json","data":"{}","qos":0,"name":"IBM IoT","service":"registered","x":692,"y":192,"wires":[]},{"id":"b24bbb82.e87d9","type":"ibmiot in","z":"9b790ee7.397da","authentication":"apiKey","apiKey":"b4821b73.254c8","inputType":"evt","deviceId":"","applicationId":"","deviceType":"vehicles","eventType":"gps","commandType":"gps","format":"json","name":"IBM IoT","service":"registered","allDevices":true,"allApplications":"","allDeviceTypes":true,"allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":133,"y":259,"wires":[["66c7efd0.7c9a08","b8916564.607dc8"]]},{"id":"d6aafb55.55cd18","type":"websocket in","z":"9b790ee7.397da","name":"","server":"961d34bf.f2d358","client":"","x":90,"y":440,"wires":[["1e3f93d6.c1e844"]]},{"id":"66c7efd0.7c9a08","type":"debug","z":"9b790ee7.397da","name":"","active":true,"console":"false","complete":"false","x":650,"y":320,"wires":[]},{"id":"b8916564.607dc8","type":"websocket out","z":"9b790ee7.397da","name":"","server":"961d34bf.f2d358","client":"","x":680,"y":400,"wires":[]},{"id":"fc9b4d71.d6951","type":"function","z":"9b790ee7.397da","name":"","func":"msg.deviceId=msg.req.params.deviceId;\nreturn msg;","outputs":1,"noerr":0,"x":479,"y":183,"wires":[["611aeac.5a36d94"]]},{"id":"1e3f93d6.c1e844","type":"function","z":"9b790ee7.397da","name":"","func":"msg.payload =  JSON.parse(msg.payload);\n\n//ping messeges are directly sent out with websocket out. DeviceID validation is not required. \nif (typeof msg.payload.ping === 'undefined' || !msg.payload.ping){\n    // if the deviceID is not available, then giving out error message. \n    if(typeof msg.payload.deviceId ==='undefined' || !msg.payload.deviceId){\n        throw new Error('deviceID not in the web socket request');\n        //node.warn(\"deviceID not registered.\");\n    } else {\n        // if deviceId available, then only proceed request. \n        return [null, msg];\n    }\n} else {\n    return [msg, null];\n}\n\nreturn msg;","outputs":"2","noerr":0,"x":270,"y":400,"wires":[["b8916564.607dc8"],["66d3985d.ef168"]]},{"id":"66d3985d.ef168","type":"function","z":"9b790ee7.397da","name":"","func":"var deviceIds = flow.get('deviceIds')||{};\n\nif (msg._session !== null) {\n\n    if (msg.payload.deviceId !== null && msg._session.id !== null) {\n    \n       if (msg.payload.deviceId in deviceIds) {\n           deviceIds[msg.payload.deviceId] = msg._session.id;\n           flow.set('deviceIds',deviceIds);\n           \n       } \n      else {\n        deviceIds[msg.payload.deviceId] = msg._session.id;\n        flow.set('deviceIds',deviceIds);\n        //node.warn(\"deviceID not registered.\");\n          \n      }\n    }\n}\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":500,"wires":[["b8916564.607dc8"]]},{"id":"1d66b1a9.f31896","type":"comment","z":"9b790ee7.397da","name":"Websocket Data ","info":"","x":131,"y":369,"wires":[]},{"id":"e4c2fc09.41767","type":"function","z":"9b790ee7.397da","name":"","func":"msg.payload = {\n    \"trip_id\":msg.payload.d.trip_id\n}\nreturn msg;","outputs":1,"noerr":0,"x":463,"y":98,"wires":[["aee27e7b.4fdec8"]]},{"id":"aee27e7b.4fdec8","type":"debug","z":"9b790ee7.397da","name":"","active":false,"console":"false","complete":"false","x":645,"y":81,"wires":[]},{"id":"b4821b73.254c8","type":"ibmiot","z":"","name":"IoT Service","keepalive":"60","domain":"","cleansession":true,"appId":"","shared":false},{"id":"961d34bf.f2d358","type":"websocket-listener","z":"","path":"/ws/data1","wholemsg":"false"}]