Node-Red Flows/Trip_Details.Json
[{"id":"ccf1d51f.ab527","type":"comment","z":"142c5d4a.61fe93","name":"getTotatlTripCount()","info":"","x":150,"y":80,"wires":[]},{"id":"b8d5670f.67d2b","type":"http in","z":"142c5d4a.61fe93","name":"Count Trips","url":"/tripCount/:deviceId","method":"get","upload":false,"swaggerDoc":"","x":110,"y":120,"wires":[["5bd3b98f.30a598"]]},{"id":"5bd3b98f.30a598","type":"function","z":"142c5d4a.61fe93","name":"","func":"msg.payload= {\n    \n    \"deviceId\":msg.req.params.deviceId \n    //\"deviceId\":\"obd2-dev1\"\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":307,"y":152,"wires":[["a762f85.0ce4008"]]},{"id":"a762f85.0ce4008","type":"dashDB in","z":"142c5d4a.61fe93","dashDB":"4c00068d.4c1938","service":"_ext_","query":"SELECT COUNT(DISTINCT TRIP_ID) AS TRIP_COUNT FROM TRIP_ROUTES WHERE MO_ID=?;","params":"msg.payload.deviceId","name":"","x":463,"y":151,"wires":[["76f7e96b.ef8bb","ace4be72.53f52"]]},{"id":"76f7e96b.ef8bb","type":"debug","z":"142c5d4a.61fe93","name":"","active":true,"console":"false","complete":"true","x":639,"y":150,"wires":[]},{"id":"ace4be72.53f52","type":"http response","z":"142c5d4a.61fe93","name":"","x":648,"y":198,"wires":[]},{"id":"2e78e2ed.8d80ae","type":"inject","z":"142c5d4a.61fe93","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":140,"y":220,"wires":[["5bd3b98f.30a598"]]},{"id":"4c00068d.4c1938","type":"dashDB","z":"","hostname":"awh-yp-small03.services.dal.bluemix.net","db":"BLUDB","port":"50000","name":"Ytl Database"}]